#################################################
# OS Files
#################################################

.DS_Store
Thumbs.db

#################################################
# IDE
#################################################

.vscode/
.idea/
*.swp

#################################################
# Python (FastAPI)
#################################################

backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd
backend/.pytest_cache/
backend/.mypy_cache/
backend/.coverage
backend/htmlcov/

__pycache__/
*.py[cod]
*$py.class


#################################################
# Environment Variables
#################################################

backend/.env
frontend/src/environments/environment.prod.ts

#################################################
# Alembic
#################################################

backend/alembic/versions/__pycache__/

#################################################
# Angular
#################################################

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

#################################################
# Logs
#################################################

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#################################################
# Build Files
#################################################

build/
dist/

#################################################
# Temporary Files
#################################################

*.tmp
*.temp
*.bak

#################################################
# Database
#################################################

*.sqlite
*.db

#################################################
# Misc
#################################################

.env
.env.local
.env.*
!.env.example
